.mainFxmlClass {
}

.root{
/*    -fx-background-image: url("https://pbs.twimg.com/media/C0OLDZMVQAAEF5h?format=jpg&name=large");
    -fx-background-position: center center;
    -fx-background-size: cover;

    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-text-fill: #8d3434;
    -fx-font-family: "Consolas";
    -fx-font-size: 13px;
    -fx-background-color: #ffffff;
    -fx-border-color: #8d3434;
    -fx-pref-width: 42px;
    -fx-pref-height: 27px;*/
}
